-# = 'Dirígite a la siguiente  para actualizar tu email: '
-# = link_to('reset password', "#{ENV['ORIGIN_ALLOWED']}/new_password?token=#{@user.reset_password_token}", { target: '_blank' })

%body{:style => "margin:0; padding:0; font-family: Lato, Arial, Helvetica, sans-serif; background-color: #ffffff !important; color: #212121 !important;"}>
  / LOGO
  %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :height => "80", :width => "80%"}
    %tr
      %td{:align => "left", :valign => "bottom"}
        %img{:border => "0", :height => "32", :src => "https://firebasestorage.googleapis.com/v0/b/spec-atelier/o/spec_images%2Fspec-logo.jpg?alt=media", :style => "margin:0; padding:0; border:none; display:block;", :width => "160"}/
  / ICON MESSAGE
  %table{:align => "center", :bgcolor => "#ffffff", :border => "0", :cellpadding => "0", :style => "padding: 0 10% 0 10%;", :width => "100%"}
    %tr
      %td{:height => "60"}
         
  / CONTENT
  %table{:align => "center", :bgcolor => "#f6f6f6", :border => "0", :cellpadding => "32", :width => "80%"}
    %tr
      %td{:align => "center", :valign => "top"}
        %p{:style => "font-size: 20px; font-weight: bold; letter-spacing: 1.25px;"}
          = "Hola #{@current_user.name}"
        %p{:style => "font-size: 14px; letter-spacing: 1px; margin: 2px; color: #757575"}
          Estas son las instrucciones para restablecer tu contraseña.
        %p{:height => "20"}
           
        %p{:style => "font-size: 14px; letter-spacing: 1px; margin: 2px;"}
          Se ha realizado una solicitud para restablecer su contraseña de Spec Atelier. Si no realizó esta solicitud,
          simplemente ignore este correo electrónico. Si realizó esta solicitud, restablezca su contraseña:
        %p{:height => "20"}
           
        %a{:href => "#{ENV["FRONT_DOMAIN"]}/new_password/#{@user.reset_password_token}", :target => "_blank", :style => "color: #ffffff; text-decoration:none;", :target => "_blank"}
          %span{:style => "width: 100%; border-radius: 19.5px; background-color: #1bbfa9; padding: 6px 40px 9px 40px; color: #ffffff;"}
            Restablecer contraseña
        %p
           
  / THANKS
  %table{:border => "0", :cellpadding => "0", :width => "80%"}
    %tr
      %td
        %p
           
        %p{:style => "font-size: 14px; letter-spacing: 1px;"}
          Gracias, Equipo Atelier

  / SPACE
  %table{:border => "0", :cellpadding => "0", :width => "100%"}
    %tr
      %td{:height => "140"}
         
  / FOOTER
  %table{:align => "center", :bgcolor => "#08262c", :border => "0", :cellpadding => "20", :height => "72", :width => "100%"}
    %tr
      %td{:align => "left"}
        %img{:border => "0", :height => "18", :src => "https://firebasestorage.googleapis.com/v0/b/spec-atelier/o/spec_images%2Femail.jpg?alt=media", :style => "margin: 0 4px 0 0; padding:0; border:none; display: inline-block;", :width => "18"}
        %a{:href => "mailito:contacto@specatelier.com", :style => "color:#19bea8; text-decoration: none; font-size: 12px; letter-spacing: 1px;", :target => "_blank"} contacto@specatelier.com
      %td{:align => "left"}
        %img{:border => "0", :height => "18", :src => "https://firebasestorage.googleapis.com/v0/b/spec-atelier/o/spec_images%2Fwhatsapp.jpg?alt=media", :style => "margin:0 4px 0 0; padding:0; border:none; display: inline-block;", :width => "12"}
        %a{:href => "tel:+56987654321", :style => "color:#19bea8; text-decoration: none; font-size: 12px; letter-spacing: 1px;", :target => "_blank"} +56 9 8765 4321
      %td{:align => "right"}
        %a{:href => "https://spec-atelier-front.herokuapp.com/", :style => "color:#19bea8; text-decoration: none; font-size: 12px; letter-spacing: 1px;", :target => "_blank"}
          Síguenos en;
          %img{:border => "0", :height => "18", :src => "https://firebasestorage.googleapis.com/v0/b/spec-atelier/o/spec_images%2Finstagram.jpg?alt=media", :style => "margin:0 4px 0 0; padding:0; border:none; display: inline-block;", :width => "12"}
